body{
  @font-face {
 font-family: "Rantular";
 src: url("erikarante/Rantular-Mono.woff2") format("woff2"),
        url("erikarante/Rantular-Mono.woff") format("woff");
}
  font-weight: 600;
  margin-left:25%;
  padding-right:50px;
  width:70%;
  font-size: 18px;
  line-height: 1;
  background-color: white;
}

marquee{
  font-size: 68px;
}

h2{
  font-size: 48px;
  color:blue;

}
h3{
  font-size: 32px;
  color:black;

}

ul{
  list-style-type: none;
}

a {
  color: black;
  text-decoration: underline;
}

/* li a{
  color: black;
  text-decoration: underline;
} */

a:hover{
  text-decoration: underline;
}
