body {
  font-family: Helvetica;
  font-weight: 600;
  margin-left:25%;
  padding-right:50px;
  width: 70%;
  margin-top: 100px;
}

  font-size: 20px;
  line-height: 1.3;
  background-color: grey;
  color: black;

  h1 {
    background-color: yellow
    colour: pink
    font-size: 25px;
  }
