html {
  position: relative;
  background-image: url("https://www.movingai.com/benchmarks/mapf/random-32-32-20.svg");
  background-repeat:repeat;
  background-size:cover;
  background-position:center;
}

body {
  background-color: black;
  color: white;
  /* max-width: 800px; */
  width: 810px;
  margin: 0 auto;
  display: flex;
  font-family:monospace;
  font-size:17pt;
}

main {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.middle-par {
  background-color: rgb(255, 0, 255);
}

.column {
  min-width: 100px;
  width: 100px;
}

.column p {
  font-size: 12px;
}

.first-par {
  margin-top: 275px;
}

.image-box {
  position: absolute;
  width: 300px;
}

.image-box-1 {
  left: 0;
  top: 0;
}

.image-box-2 {
  left: 0;
  bottom: 0;
}

.image-box-3 {
  right: 0;
  bottom: 0;
}

.image-box-4 {
  right: 0;
  top: 0;
}

.caption {
  color: cyan;
  font-size: 10px;
}
