body {
<<<<<<< HEAD
  font-family: Helvetica;
  font-weight: normal;
  font-size: 18px;
=======
   font-family: Helvetica;
  font-weight: normal;
  color: white;
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  width:1000px;
  font-size: 18px;
  line-height: 1.5;
  background-color: black;

>>>>>>> 2166c73bb5b86099e473d7a04bdb19522116b4f6
}
h1{
  font-size: 40psx;
}
h2
{
  font-size: 30px;
}

