body {
  font-family: Helvetica;
  font-weight: normal;
  background-color: white;
  margin-left: 17%;
  padding-right: 100px;
  width: 45%;
  color: white;
  font-size: 20px;

}

marquee{
  font-size: 68px;
}

h2{
  font-size: 48px;
  color:black;

}

h3{
  font-size: 48px;
  color:black;

}
ul{
  list-style-type: square;
}

a {
  font-size: 68px;
  color: white;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}
