body{
  font-family: Helvetica;
  font-weight: 600;
  margin: auto;
  width:70%;
  font-size: 36px;
  line-height: 1.4;
  background-color: blue;
}

marquee{
  font-size: 68px;
}

h2{
  font-size: 48px;
  margin-top:-25px;
  color:white;

}
