body{
  font-family: Helvetica;
  font-weight: lighter;
  margin: auto;
  width:70%;
  font-size: 18px;
  line-height: 1.5;
  background-color: blue;
}

h1{
  font-size: 68px;
}

h2{
  font-size: 36px;
}
