body {
  font-family: Helvetica;
  font-weight: normal;
  background-color: darkorchid;
  margin-left: 17%;
  padding-right: 100px;
  width: 45%;
  color: gray;
  font-size: 22px;

  background-color: lightgray;

}
h1{
  line-height: 1.1;
  font-size: 100px;
  padding-right: 10px;
  padding-left: 700px;
  padding-top: 20px;
  padding-bottom: 20px;
  color:white;
}

h3{
  font-size: 30px;
    color:white;
}
h2
{
  font-size: 30px;
    color:white;
}
